#  ======== COMPILADOR NOCTURN - GITHUB MANAGER ======= 

github.entity1.name=githubusername
github.entity1.token=githubtoken
github.entity2.name=githubusername
github.entity2.token=githubtoken

# Directori on es guardaran els fitxers temporals per a la compilació nocturna
# Exemple de Windows ->   D:/projects/powertoys/powertoysfiles
org.fundaciobit.powertoys.nightlycompilation.tempfilesdirectory=/appsfiles/powertoys/filestemp
